<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>👾Found In Translation👾</h1>
        <h3>Guess which language this sentence is in 🕵🏻‍♂️</h3>
        <div class="quiz">
            <div class="question">
                <h2>Question</h2>
                <p></p>
            </div>
            <div class="options">
                <label>
                    <input type="radio" name="option" value="">
                    <div class="option-box">
                    <span id = "0"></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="">
                    <div class="option-box">
                    <span id = "1"></span>   
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="">
                    <div class="option-box">
                        <span id = "2"></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="">
                    <div class="option-box">
                        <span id = "3"></span>
                    </div>
                </label>
            </div>
            <button class="next-btn" onclick="nextBtn()">Next</button>
            <button class="next-btn" onclick="checkBtn()">Check</button>

    
            <div class="popup popup_cor">
                <img src="https://static.vecteezy.com/system/resources/previews/010/152/358/original/tick-icon-sign-symbol-design-free-png.png">
                <h2>Correct!</h2>
                <button type="button" onclick="closePopup()">OK</button>
            </div>

            <div class="popup popup_incor">
                <img src="https://www.freeiconspng.com/thumbs/error-icon/error-icon-4.png">
                <h2>Incorrect!</h2>
                <button type="button" onclick="closePopup()">OK</button>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var questionNumber = 0;

        var correct_language = 0;

        $('document').ready(()=>{
            loadQuestion(questionNumber);
        });

        function loadQuestion(id) {
            $.get('/q/' + id, function(data) {
                console.log(data)
            $('.question h2').text('Question ' + (id + 1));
            $('.question p').text(data.sentence);
            $('.options #0').text("A. " + data.choices[0]);
            $('.options #0').parent().siblings('input').attr("value",data.choices[0]);
            $('.options #1').text("B. " + data.choices[1]);
            $('.options #1').parent().siblings('input').attr("value",data.choices[1]);
            $('.options #2').text("C. " + data.choices[2]);
            $('.options #2').parent().siblings('input').attr("value",data.choices[2]);
            $('.options #3').text("D. " + data.choices[3]);
            $('.options #3').parent().siblings('input').attr("value",data.choices[3]);
            correct_language = data.language;
        });
        }


        function checkBtn() {
            
            var selectedOption = document.querySelector('input[name="option"]:checked');
            console.log(selectedOption)
            
            console.log(correct_language);

            if (selectedOption && selectedOption.value == correct_language) {
                document.querySelector('.popup_cor').style.display = 'block';
            } else {
                document.querySelector('.popup_incor').style.display = 'block';
            }
        }

        function nextBtn() {
            ++questionNumber;
            loadQuestion(questionNumber);
        }

        function closePopup() {
            document.querySelector('.popup_cor').style.display = 'none';
            document.querySelector('.popup_incor').style.display = 'none';
        }
    </script>
</body>
</html>
